name: Python package

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libgirepository1.0-dev libcairo2-dev
          sudo rm -rf /var/lib/apt/lists/*

      - name: Install dependencies
        env:
          UV_SYSTEM_PYTHON: "1"
        run: |
          uv pip install pip==24.0
          uv pip install ruff pytest pytest-xdist
          uv pip install .[backend]

      - name: Lint with ruff
        run: |
          ruff check --output-format=github .

      - name: Test with pytest
        run: |
          pytest -v --tb=short --maxfail=1 --durations=10 -n auto
